/*HEADER*/
header {
    display: flex;
    padding: 20px;
    margin-left: 30px;
}

header h2 {
    margin-right: auto;
    transition: transform 0.4s;
}

header h2:hover {
    transform:scale(1.15);
}

h2 a {
    text-decoration: none;
    margin-right: auto;
}

.nav {
    display: flex;
    margin-right: 30px;
    list-style: none;
    width: 300px;
}

.nav a{
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
    transition: transform 0.4s;
}
.nav-links-expand{
    display: none;
    height: 200px;
    width: 200px;
}

.nav a:hover{
    transform:scale(1.15);
}

.plus {
    display: none;
}

hr {
    height: 4px;
    border: none;
    width: 95vw;
    margin: auto;
}

@media screen and (max-width: 1000px) {
    .nav {
        display: none;
        text-align: center;
        margin-top: 134px;
        margin-left: -35px;
        position: absolute;
        width: 95vw;
        height: 17vh;
        background-color: rgba(0, 0, 0, 0.80);
        z-index: 1;
    }

    .nav-links-expand {
        display: block;
    }

    .nav a {
        display: grid;
        padding: 15px;
        font-size: 45px;
        color: white;
        width: 100%;
        margin: 0;
    }

    .nav a:hover{
        transform: none;
    }

    .nav a:nth-child(2){
        background-color: black;
    }
    
    .desk-nav {
        font-size: 20px;
    }
    
    .plus {
        display: block;
        font-size: 90px;
        font-weight: bolder;
        position: absolute;
        right: 60px;
        text-decoration: none;
    }
    
}

/*FOR ALL CONTENT*/
main {
    position: relative;
    width: 80vw;
    margin: auto;
    margin-top: 30px;
    min-height: 40vh;
}

h1 {
    float: right;
    color: white;
}

.body__bg--yellow {
    background-color: #F5EB90;
}

.body__bg--black {
    background-color: rgba(0, 0, 0, 0.80);
}

.nav__text--black {
    color: rgba(0, 0, 0, 0.80);
}

.nav__text--yellow{
    color: #F5EB90;
}

.heading__text--black {
    color: black;
}


/*FRONTPAGE*/
.front-page {
    width: 100%;
    padding-top: 200px;
    text-align: center;
}


@media screen and (max-width: 1000px) {
    body {
        position: relative;
        height: 100vh;
    }
    
    main { 
        max-width: 90vw;
        margin: auto;
        margin-top: 200px;
    }

    header {
       height: 150px; 
    }

    header h2{
        position:initial;
        font-size: 80px;
        margin-left: 250px;
        width: 100vw;
    }

    header h2:hover {
        transform: none;
    }

    .front-page {
        font-size: 150px;
        padding: 50px;
        text-align: center;
        margin: auto;
    }
}


/*CONTACT*/
.contact {
    height: 50vh;
}

.contact__container {
    color: white;
}

.contact__info {
    width: 400px;
    padding-top: 70px;
}

@media screen and (max-width: 1000px) {
    h1 {
        float: none;
        margin-left: 10vw;
        font-size: 150px;
    }

    p {
        color: white;
        
    }
    .info-container {
        font-size: 40px;
        margin-top: 50px;
        width: 100%;
        padding: 20px;
        
    }
}


/*ABOUT*/
.about-container {
    display: flex;
    color: white;
}

.text-container {
    display: grid;
    width: 500px;
    margin-left: 100px;
    text-align: right;
}

.img-container {
    position: static;
    background: #F5EB90;
    width: 45vw;
    height: 50vh;
    margin-top: 100px;
}

.img-container img {
    position: absolute;
    height: 450px;
    margin-top: -128px;
    margin-left: 250px;
}
.img-container h2{
    position: absolute;
    color: black;
    padding-top: 20vh;
    margin-left: 50px;
    font-size: 40px;
}


@media screen and (max-width: 1000px) {
    body{
        width: 100%;
    }    
    
    h1{
        justify-self: center;
        font-size: 150px;
        margin-top: 30px;
    }

    .about-container{
        display: grid;
    }

    .img-container {
        position: static;
        width: 80vw;
        height: 55vh;
        margin-top: 20px;
    }

    .img-container img{
        height: 70vh;
        margin-top: -100px;
        margin-left: 450px;
    }

    .img-container img{
        position: absolute;
        margin-left: 100px;
        margin-top: -246px;
    }
        
    .img-container h2{ 
        font-size: 150px;
        transform: rotate(90deg);
        margin-top: 200px;
        margin-left: -140px;
    }

    .text-container {
        text-align: justify;
        font-size: 40px;
        width: 800px;
        margin: auto;
        margin-bottom: 40px;
        padding: 20px;
    }
}


/*  WORK    */
.work{
    width: 100%;
}

.work__grid {
    display: grid;
    row-gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px 0 20px 0;
    justify-items: center;
}

.grid__item img {
    height: 300px;
    width: 400px;
    object-fit: cover;
}


@media screen and (max-width: 1000px) {
    .work__grid{
    display: grid;
    row-gap: 50px;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 100px;
    }

    .grid__item img {
        width: 900px;
        height: 1100px;
    }
}



/*FOOTER*/
footer {
    position: static;
    margin-top: 100px;
    padding-bottom: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.50);
    bottom: 0;
 }

.footer h3 {
    font-style: italic;
    color: #F5EB90;
 }
 
.footer {
    display: flex;
    width: 80vw;
    justify-content: space-evenly;
    margin-left: -100px;
    padding-top: 20px;
 }
 
.footer__bg--yellow {
    background-color: #F5EB90;
 }

 @media screen and (max-width: 1000px) {
    footer {
        display: grid;
        width: 100vw;
        height: 30vh;
    }

    .footer-content {
        margin-left: 100px;
    }

    .footer div {
        margin: 30px;
    }

    .footer p {
        font-size: 40px;
    }

    .footer h5 {
        font-size: 3em;
    }
    .footer h3 {
        font-size: 4em;
    }
 }
